.header-tabs {
  border-radius: 20px;
  background-color: transparent;
  padding: 0 0 0 0;
  display: flex;
  align-items: center;
  gap: 20px;
  border-bottom: 1;
  border-color: divider;
  height: 40px;
}
.header-tabs .tab-pills {
  margin-right: 20px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 20px;
}

.header-tabs .MuiTabs-root {
  min-height: 40px;
}

.header-tabs button,
.header-tabs button span {
  min-height: 40px;
}
.header-tabs button {
  padding: 2px 16px;
}

.home-tabpanel .MuiTabPanel-root {
  padding: 5px !important;
}

.header-tabs .Mui-selected {
  background-color: white;
  color: black !important;
  border-radius: 20px;
  padding: 0;
}
.header-tabs .MuiTabs-indicator {
  display: none;
}

.header-tabs input::placeholder {
  color: white;
  font-size: 1rem;
  padding-left: 10%;
}
.header-tabs input {
  padding-left: 20%;
}
.header-tabs .selected-search {
  background-color: #white !important;
  color: black !important;
}

.header-tabs .unselected-search {
  background-color: transparent !important;
  border: 2px solid white !important;
}

.header-tabs .selected-search::placeholder {
  color: black;
}

.header-tabs .unselected-search::placeholder {
  color: grey;
}

.search-bar-header svg {
  fill: black;
}
