@media only screen and (min-width: 600px) {
  .home-box {
    padding: 0;
    max-height: 100vh;
    width: calc(100% - 230px);
    margin-left: 230px;
  }
}
.sentiment-paper {
  background-color: rgb(37, 0, 97, 0.3) !important;
  border-radius: 10px !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
  width: 100%;
  border: none;
}

table td,
#customers th {
  text-align: center;
  padding: 0 0;
}

#customers th {
  /* width: 1%; */
  font-size: 0.7rem;
}

table td {
  font-size: 0.8rem;
}

/* table component (first table) */
.table-component {
  overflow: auto;
  width: 100%;
  height: 100%;
}
.table-component table {
  height: 100%;
}

.table-component th,
.table-component td {
  max-width: 30px;
}
.table-component table tr:first-child {
  height: 20px;
}

.table-component table tr {
  background-color: #0c263f;
  height: 20px;
}

.table-component table tr td:first-child {
  padding-left: 0;
}

.table-component table th {
  text-align: left;
  background-color: #2d3d4d;
}
.table-component table tr:first-child {
  background: transparent;
}
.table-component table tr:first-child th:first-child {
  background: transparent;
}

.table-component table tr:first-child th:nth-child(2) {
  border-radius: 650px 0 0 650px;
}

.table-component table tr:first-child th:last-child {
  border-radius: 0 650px 650px 0;
}

.table-component td:first-child {
  border-radius: 650px 0 0 650px;
  background-color: #2d3d4d;
}
.table-component td:nth-child(2) {
  background-color: #2d3d4d;
}
.table-component td:last-child {
  border-radius: 0 10px 10px 0;
}

/* top table */
.top-table {
  overflow: auto;
}

.top-table td:first-child {
  border-radius: 5px 0 0 5px;
}

.top-table td:last-child {
  border-radius: 0 5px 5px 0;
}

.top-table th,
.top-table td {
  white-space: nowrap;
  max-width: 100px;
}

.top-table::-webkit-scrollbar,
.circle-grid::-webkit-scrollbar,
.table-component::-webkit-scrollbar,
.sentiment-circle::-webkit-scrollbar {
  height: 2px;
  background: #f1f1f1;
  width: 2px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.top-table::-webkit-scrollbar-thumb,
.circle-grid::-webkit-scrollbar-thumb,
.table-component::-webkit-scrollbar-thumb,
.sentiment-circle::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50%;
}

.top-table table thead tr {
  vertical-align: bottom;
  height: 20px;
  background: transparent;
}

.top-table table tr {
  background-color: #2d3d4d;
  font-size: 16px;
  height: 20px;
}
.top-table table tr th {
  font-weight: 300;
  font-size: 0.8rem;
  padding: 0;
}

/* pie chart */
.doughnut-chart {
  height: 100px;
  width: 100px;
}
.doughnut-chart-top {
  height: 115px;
  width: 115px;
}
.centerme {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.sentiment-circle {
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
}

/* apex chart daily commulative */

/* apex chart horizontal */
.apexcharts-yaxis-label,
.apexcharts-xaxis-label {
  fill: white;
}

.apexcharts-legend-text {
  color: white !important;
}

/* slider cards */
.MuiSlider-root {
  margin-bottom: 0 !important;
}
.MuiSlider-valueLabel {
  top: 5px !important;
  background-color: transparent !important;
}
.MuiSlider-valueLabelLabel {
  color: black;
  background-color: transparent !important;
}

.MuiSlider-valueLabel:before {
  display: none;
}
.slider-cards .MuiSlider-thumb {
  width: 20px;
  height: 10px;
  border-radius: 0;
  background-color: #006c32;
}

.brearish-slider-card .MuiSlider-thumb {
  background-color: #b70606;
}

.slider-cards .MuiSlider-markLabel {
  font-size: 0.7rem;
  top: 70%;
}

.slider-cards .MuiSlider-rail {
  background-color: white;
  height: 8px;
  border-radius: 0;
}

.slider-cards .MuiSlider-track {
  display: none;
}
