@media only screen and (min-width: 600px) {
  .home-box {
    padding: 0 16px;
  }
}
.sentiment-paper {
  background-color: rgb(37, 0, 97, 0.3) !important;
  border-radius: 20px !important;
}

table {
  border-collapse: separate;
  border-spacing: 0 15px;
  width: 100%;
  border: none;
}

table td,
#customers th {
  text-align: center;
  padding: 0 10px;
}

#customers th {
  /* width: 1%; */
  font-size: 12px;
}

table td {
  font-size: 14px;
}

/* table component (first table) */
.table-component {
  overflow-x: auto;
  width: 100%;
}

.table-component th,
.table-component td {
  white-space: nowrap;
  max-width: 100px;
}
.table-component table tr:first-child {
  height: 37px;
}

.table-component table tr {
  background-color: #00327c;
  height: 62px;
}

.table-component table tr td:first-child {
  padding-left: 0;
}

.table-component table th {
  text-align: left;
  background-color: #2e15e4;
}

.table-component table tr:first-child th:first-child {
  border-radius: 650px 0 0 650px;
}
.table-component table tr:first-child th:last-child {
  border-radius: 0 650px 650px 0;
}

.table-component td:first-child {
  border-radius: 650px 0 0 650px;
  background-color: #201f7b;
}
.table-component td:nth-child(2),
.table-component td:nth-child(3) {
  background-color: #201f7b;
}
.table-component td:last-child {
  border-radius: 0 10px 10px 0;
}

/* top table */
.top-table {
  overflow: auto;
}

.top-table td:first-child {
  border-radius: 5px 0 0 5px;
}

.top-table td:last-child {
  border-radius: 0 5px 5px 0;
}

.top-table th,
.top-table td {
  white-space: nowrap;
  max-width: 100px;
}

.top-table::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.top-table table thead tr {
  vertical-align: bottom;
  height: 37px;
  background: transparent;
}

.top-table table tr {
  background-color: #3b0495;
  font-size: 16px;
  height: 60px;
}
.top-table table tr th {
  font-weight: 300;
  font-size: 0.9rem;
  padding: 0;
}

/* pie chart */
.doughnut-chart {
  height: 130px;
  width: 130px;
}

/* apex chart daily commulative */

/* apex chart horizontal */
.apexcharts-yaxis-label,
.apexcharts-xaxis-label {
  fill: white;
}

.apexcharts-legend-text {
  color: white !important;
}
