@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;500;600;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  background-color: #190040;
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

.paper-back {
  color: #ffffff !important;
  background: rgb(50, 0, 129, 0.5) !important;
  border-radius: 10px !important;
}

.outer_circle {
  position: relative;
  margin: 50px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: 2;
  background: red;
}

@media only screen and (min-width: 900px) {
  .app-bar {
    display: none !important;
  }
}
@media only screen and (max-width: 900px) {
  .drawer {
    display: none !important;
  }
}

.drawer svg {
  fill: #200b41;
}

/* .drawer .MuiToolbar-root,
.drawer .MuiList-root {
  background-color: #190040;
  color: white;
} */
